# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Virtual Environment
# ==========================================================
.env
.venv/
venv/

# ==========================================================
# IDEs
# ==========================================================
.vscode/
.idea/

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# MLflow
# ==========================================================
mlruns/
mlflow.db

# ==========================================================
# Models
# ==========================================================
models/

# ==========================================================
# DVC
# ==========================================================
.dvc/cache/

# ==========================================================
# Data files
# ==========================================================
*.parquet

# Dataset original (grande)
application_train.csv

# ==========================================================
# OS files
# ==========================================================
.DS_Store
Thumbs.db