# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# ==========================================================
# Virtual Environments
# ==========================================================
.venv/
venv/

# ==========================================================
# Local environment files
# ==========================================================
.env

# ==========================================================
# Pytest
# ==========================================================
.pytest_cache/

# ==========================================================
# Ruff
# ==========================================================
.ruff_cache/

# ==========================================================
# Mypy
# ==========================================================
.mypy_cache/

# ==========================================================
# Coverage
# ==========================================================
.coverage
htmlcov/

# ==========================================================
# Jupyter
# ==========================================================
.ipynb_checkpoints/

# ==========================================================
# IDEs
# ==========================================================
.vscode/
.idea/

# ==========================================================
# MLflow
# ==========================================================
mlruns/
mlflow.db

# ==========================================================
# Logs
# ==========================================================
logs/
*.log

# ==========================================================
# Models
# ==========================================================
models/

# ==========================================================
# DVC
# ==========================================================
.dvc/cache/

# ==========================================================
# Data files
# ==========================================================
*.parquet

# Dataset original (grande)
application_train.csv

# ==========================================================
# Temporary files
# ==========================================================
*.tmp
*.temp
*.bak

# ==========================================================
# Windows files
# ==========================================================
Thumbs.db
Desktop.ini

# ==========================================================
# Other generated files
# ==========================================================
*.sqlite
*.db
